/*G-css*/
header {
    height: 660px;
    background: url("../images/header-bg-lg-min.jpg") no-repeat;
    background-size: 100% 100%;
    position: relative;
}

.bg-light {
    background-color: transparent !important;
}

header h1 {
    margin-top: 30px;
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.27;
    padding-top: 50px;
}

.btn-primary {
    background-image: linear-gradient(to bottom, #edbd2d, #e3b52b);
    border: solid 1px #d4a928;
}

.btn {
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    max-width: 280px;
    height: 53px;
    font-size: 19px;
    color: #fff;
    line-height: 53px;
    border-radius: .25rem;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, .05);
}

header .nav-link-qg {
    display: inline-block;
}

header .align-items-stretch {
    height: 600px;
}

header .phone-video {
    background-image: url(../images/phone-bg-md-min.png);
    width: 550px;
    height: 500px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    bottom: 0;
    right:80px;
}

.btn-primary:hover {
    color: #fff;
    background-color: #e8a800;
    border-color: #e8b92c;
}
.nav-links {
    margin-top: 50px;
}

.nav-links a {
    font-size: 15px;
    letter-spacing: .2px;
    color: #7a7971;
    outline: 0;
    transition: color .15s ease-in-out;
    margin-top: 10px;
    margin-bottom: 10px;

}
.nav-link {
    text-align: right;
}
.main{
    margin-top: 30px;
}

/*main 1*/
section {
    padding-top: 30px;
    border-bottom: 1px solid #e0ddd3;
}
.bg-beige {
    background-color: #f7f6f2;
}
/**/

.text-shadow {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.41;
    text-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.text-white {
    color: #fff!important;
}
.stars p:last-child {
    font-size: 12px;
    color: #949188!important;
}
/*footer*/
footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #474642;
}
footer h6 {
    color: #c7c3b9;
    text-transform: uppercase;
}
footer nav a {
    display: block;
    color: #fff;
    font-size: 15px;
    line-height: 1.87;
}
footer nav a:hover {
    color: #e0b32b;
    text-decoration: none;
}
/*// Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    header h1 {
        padding-top: 10px;
        margin-top:0;
        font-size: 1.75rem;
    }

    header .lead {
        font-size: 1.1525rem;
        line-height: 1.35;
    }

    header .mb-5, .my-5 {
        margin-bottom: 1.5rem !important;
    }

    header {
        height: inherit;
        /*height: 906px;*/
        background: url("../images/header-bg-lg-min.jpg") no-repeat;
        background-size: 150% 100%;
        position: relative;
    }
    header .align-items-stretch {
        height: 890px;
        text-align: center;
    }
    header .phone-video{
        width: 100%;
        height: 484px;
        background-image: url(../images/phone-bg-sm-min.png);
        background-position: bottom;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    section{
        text-align: center;
    }
}
.stars {
    margin: 0 auto;
    max-width: 140px;
}
.stars p:first-of-type {
    font-size: 13px;
    font-weight: 500;
    color: #615e59!important;
}
.lead {
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.44;
}
/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

    header {
        height: inherit;
        text-align: center;
        /*height: 1035px;*/
        background: url("../images/header-bg-lg-min.jpg") no-repeat;
        background-size: 150% 100%;
        position: relative;
    }

    header .align-items-stretch {
        height: 970px;
    }
    header .phone-video{
        width: 100%;
        height: 453px;
        background-image: url(../images/phone-bg-sm-min.png);
        background-position: bottom;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .nav-links {
        margin-top: 20px;
        text-align: center;
    }

    section{
        text-align: center;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    header {
        height:inherit;
        position: relative;
    }
    header .phone-video {
        width: 450px;
        height: 450px;
        background-image: url(../images/phone-bg-sm-min.png);
        background-position: bottom;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    section{
        text-align: center;
    }

    footer nav a {
        font-size: 17px;
        line-height: 1.76;
    }

    .nav-links {
        margin-top: 30px;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    header .phone-video {
        right: 10px;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    header .phone-video {
        right: 0;
    }
}