.navbar-nav{
    text-align: right;
}
.color-fff{
    color: #fff!important;
}
.pl0{
    padding-left: 0!important;
}
.pr0{
    padding-right: 0!important;
}
.h-100 {
    height: 80vh!important;
}
.bb0{
    margin-bottom: 0!important;
}
.bg_fff{
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 32px;
    padding-bottom: 23px;
}
.bg-yellow {
     background-color: #f0eee9;
 }
.text-white{
    color: #474642!important;
}
.block-header {
    height: 53px;
    background-color: #fafaf7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e0ddd3;
    padding: 15px;
    font-size: 18px;
    font-weight: 300;
    color: #615e59;
    text-align: center;
    font-weight: bold;
}
.bor-rad{
    border-radius: 8px;
}
 .free {
    background-color: #f0eee9
}
.basic {
    background-color: #ebbc2d;
}
.plus {
    background-color: #41aecc;
}