.navbar-nav{
    text-align: right;
}
.color-fff{
    color: #fff!important;
}
.fz30{
    font-size: 30px!important;
    color: #fff!important;
}
.fz030{
    font-size: 30px!important;
    color: #000!important;
}
strong{
    color: #fff!important;
}

.navbar {
    background-color: #ffffff;
    padding: 10px 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 0px 8px rgba(0, 0, 0, 0.28);
    border-bottom: solid 1px #ccc;
}
.pl0{
    padding-left: 0!important;
}
.pr0{
    padding-right: 0!important;
}
.h-100 {
    height: 100vh!important;
}
.btn{
    padding: 10px 15px;
    font-size: 15px;
    font-weight: normal;
    background: -webkit-linear-gradient(top, #fff, #f5f4f0);
    background-color: #fff;
    border: #c7c3b9 1px solid;
    outline: none;
    line-height: 1;
    color: #615e59;
    border-radius: 5px;
}
.bb0{
    margin-bottom: 0!important;
}
.bg_fff{
    background: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 32px;
    padding-bottom: 23px;
}
.bg-yellow {
     background-color: #f0eee9;
 }
.text-white{
    color: #474642!important;
}
.block-header {
    height: 53px;
    background-color: #fafaf7;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom: 1px solid #e0ddd3;
    padding: 15px;
    font-size: 18px;
    color: #615e59;
    text-align: center;
    font-weight: bold;
}
.bor-rad{
    border-radius: 8px;
}
 .free {
    background-color: #f0eee9
}
.basic {
    background-color: #ebbc2d;
}
.plus {
    background-color: #41aecc;
}
.collapse{
    position: relative;
}
.navbar-nav{
    position: absolute;
    right:0;
}
.imgwh{
    width: 16px;
    height: 12px;
}
.btn:hover{
    color: #615e59;
    background: #ddd;
}
@media (max-width: 575.98px) {
    .navbar{
        padding-left: 15px;
        padding-right: 15px;
    }
    .collapse{
        position: inherit;
    }
    .navbar-nav{
        position: inherit;
    }
    .bg-yellow .pt-6{
        padding-top: 0!important;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {

    .collapse{
        position: inherit;
    }
    .navbar-nav{
        position: inherit;
    }

}
@media (min-width: 992px) and (max-width: 1199.98px) {


    .collapse{
        position: inherit;
    }
    .navbar-nav{
        position: inherit;
    }
}