/*G-css*/
.pt-11 {
    padding-top: 3.75rem!important;
}
.pb-6 {
    padding-bottom: 1.25rem!important;
}
.pl0{
    padding-left: 0!important;
}
.pr0{
    padding-right: 0!important;
}
.mb-9 {
    margin-bottom: 2.5rem!important;
}
.fl{
    float: left!important;;
}
.fr{
    float: right !important;
}
.m-0 {
    margin: 0!important;
}
.mr-6 {
    margin-right: 1.25rem!important;
}
.mb-11 {
    margin-bottom: 3.75rem!important;
}
.lead-2 {
    font-size: .9375rem;
    line-height: 1.4;
    color: #7a7971;
}
.color-fff{
    color: #fff;
}
.mr10{
    margin-right: 10px;
}
.mt-8 {
    margin-top: 1.875rem!important;
}
a:focus, a:hover {
    text-decoration: none;
}
.text-primary {
    color: #d4a928!important;
}
.bg-grey {
    background-color: #7a7971;
}
.py-11 {
    padding-top: 3.75rem!important;
    padding-bottom: 3.75rem!important;
}

.navbar-nav .nav-link {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
.bg-yellow {
    background-color: #e0b32b;
}
.text-center {
    text-align: center!important;
}
.pb-7 {
    padding-bottom: 1.5rem!important;
}
.pt-6 {
    padding-top: 1.25rem!important;
}
.card .card-body {
    padding-left: 40px;
    padding-right: 40px;
}
.pb-9 {
    padding-bottom: 2.5rem!important;
}
.pt-8 {
    padding-top: 1.875rem!important;
}